.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

body {
  font-family: 'Poppins', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px; }

p {
  font-family: 'Fira Sans', sans-serif; }

li {
  list-style: none; }

a.lb-prev {
  display: block !important;
  opacity: 1; }

a.lb-next {
  display: block !important;
  opacity: 1; }

header nav {
  height: 60px !important;
  border-radius: 0px;
  padding: 15px 0px; }
  header nav .navbar-header a {
    text-decoration: none; }
    header nav .navbar-header a h3 {
      padding-top: 10px;
      font-weight: 700;
      color: black; }
  header nav ul li a {
    font-size: 14px;
    color: #000000;
    font-weight: 700; }
    header nav ul li a:hover {
      background: none !important; }

.home-slider .home-slider-wrap {
  position: relative;
  width: 100%;
  height: 600px; }
  .home-slider .home-slider-wrap .home-slider-single-content {
    position: relative;
    width: 100%;
    height: 100%; }
    .home-slider .home-slider-wrap .home-slider-single-content .slider-iner {
      position: relative;
      width: 100%;
      height: 600px;
      position: relative; }
      .home-slider .home-slider-wrap .home-slider-single-content .slider-iner .img-area {
        width: 100%;
        height: 100%; }
      .home-slider .home-slider-wrap .home-slider-single-content .slider-iner .text-area {
        position: absolute;
        bottom: 60px;
        left: 0;
        background: rgba(255, 255, 255, 0.54); }
        .home-slider .home-slider-wrap .home-slider-single-content .slider-iner .text-area h3 {
          font-weight: 700;
          color: #000000;
          padding: 10px 20px;
          margin-bottom: 0px; }
  .home-slider .home-slider-wrap button.slick-prev.slick-arrow {
    display: none !important; }
  .home-slider .home-slider-wrap button.slick-next.slick-arrow {
    display: none !important; }
  .home-slider .home-slider-wrap ul.slick-dots {
    list-style: none;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-left: 0px; }
    @media (max-width: 1024px) {
      .home-slider .home-slider-wrap ul.slick-dots {
        position: absolute;
        right: -306px;
        top: 27%;
        -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
        transform: translateX(-50%) rotate(90deg); } }
    @media (max-width: 1024px) {
      .home-slider .home-slider-wrap ul.slick-dots {
        position: absolute;
        right: -450px;
        top: 48%;
        -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
        transform: translateX(-50%) rotate(90deg); } }
    .home-slider .home-slider-wrap ul.slick-dots li {
      display: inline-block; }
      .home-slider .home-slider-wrap ul.slick-dots li button {
        position: relative;
        color: transparent;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 50%;
        outline: none;
        width: 24px;
        height: 24px;
        border: none; }
        .home-slider .home-slider-wrap ul.slick-dots li button:before {
          content: "";
          position: absolute;
          top: 7px;
          left: 7px;
          width: 8px;
          height: 8px;
          background: #fff;
          border-radius: 50%;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
      .home-slider .home-slider-wrap ul.slick-dots li.slick-active button:before {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        background: #fff; }
      .home-slider .home-slider-wrap ul.slick-dots li.slick-active button:after {
        height: 45px;
        opacity: 1; }

.about-us-area {
  padding: 150px 0px; }
  .about-us-area .about-us-area-main .about-us-right-content {
    padding-left: 60px; }
    .about-us-area .about-us-area-main .about-us-right-content .heading-area h1 {
      font-size: 42px;
      line-height: 60px;
      color: #000000; }
    .about-us-area .about-us-area-main .about-us-right-content .heading-area ul {
      padding-left: 0px; }
      .about-us-area .about-us-area-main .about-us-right-content .heading-area ul li {
        display: block;
        font-size: 22px;
        margin-bottom: 15px; }
        .about-us-area .about-us-area-main .about-us-right-content .heading-area ul li i {
          font-size: 20px;
          color: #000000;
          margin-right: 10px; }
    .about-us-area .about-us-area-main .about-us-right-content .heading-area p {
      font-size: 16px;
      line-height: 30px;
      color: #616161;
      padding-bottom: 25px;
      text-align: justify; }
    .about-us-area .about-us-area-main .about-us-right-content .button-area a {
      position: relative;
      padding: 10px 30px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      background: transparent;
      border-radius: 3px;
      border: 1px solid #f59608;
      z-index: 11;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      text-decoration: none; }
      .about-us-area .about-us-area-main .about-us-right-content .button-area a:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f59608;
        z-index: -1;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      .about-us-area .about-us-area-main .about-us-right-content .button-area a:hover {
        color: #f59608; }
        .about-us-area .about-us-area-main .about-us-right-content .button-area a:hover:before {
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0); }
  .about-us-area .about-us-area-main .about-us-left-content {
    position: relative; }
    .about-us-area .about-us-area-main .about-us-left-content .img-area img {
      width: 100%;
      height: 460px;
      -o-object-fit: cover;
      object-fit: cover; }

.album-area {
  padding: 70px 0px;
  background: #f8f8f8; }
  .album-area .heading-area {
    padding-bottom: 30px; }
    .album-area .heading-area h1 {
      font-size: 50px;
      color: #000000;
      font-weight: 700; }
  .album-area .album-main-area .single-album {
    position: relative; }
    .album-area .album-main-area .single-album .hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 350px;
      background: rgba(0, 0, 0, 0.34);
      text-align: center;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      opacity: 0;
      visibility: none; }
      .album-area .album-main-area .single-album .hover a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        margin-top: 60%; }
    .album-area .album-main-area .single-album .img-area a {
      text-decoration: none; }
      .album-area .album-main-area .single-album .img-area a img {
        width: 100%;
        height: 350px; }
    .album-area .album-main-area .single-album .text-area {
      padding-top: 10px; }
      .album-area .album-main-area .single-album .text-area h4 {
        color: #000000; }
      .album-area .album-main-area .single-album .text-area h6 {
        color: #616161;
        text-transform: uppercase; }
    .album-area .album-main-area .single-album:hover .hover {
      visibility: visible;
      opacity: 1; }

.protfolio .heading-area {
  padding-bottom: 25px;
  padding-top: 50px; }
  .protfolio .heading-area h1 {
    font-size: 50px;
    font-weight: 700;
    color: #000000; }

.protfolio .button-area {
  text-align: center;
  padding-bottom: 20px; }
  .protfolio .button-area ul {
    padding-left: 0px; }
    .protfolio .button-area ul li {
      display: inline-block;
      background: #f5f5f5; }
      .protfolio .button-area ul li button {
        padding: 8px 20px;
        color: #000000;
        font-weight: 600;
        text-decoration: none;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        border: none; }
        .protfolio .button-area ul li button:active, .protfolio .button-area ul li button:focus {
          border: none;
          outline: none; }
      .protfolio .button-area ul li button.is-checked {
        background: #f59608;
        color: #fff; }

.protfolio .protfolio-main-wrap .protfolio-single-content {
  margin-bottom: 30px; }
  .protfolio .protfolio-main-wrap .protfolio-single-content img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px; }

.pricing {
  padding: 100px 0px; }
  .pricing .heading-area h1 {
    font-size: 50px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 20px; }
  .pricing .heading-area p {
    font-size: 18px;
    color: #616161; }
  .pricing .pricing-main {
    padding-top: 40px; }
    .pricing .pricing-main .pricing-single-content {
      padding: 30px 35px;
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
      padding-bottom: 45px;
      border: 1px solid rgba(51, 51, 51, 0.08); }
      .pricing .pricing-main .pricing-single-content .img-area {
        position: relative;
        z-index: 1; }
        .pricing .pricing-main .pricing-single-content .img-area img {
          width: 50px;
          position: absolute;
          opacity: 0.5;
          top: -5px;
          right: -10px; }
      .pricing .pricing-main .pricing-single-content .text-area {
        position: relative;
        z-index: 11; }
        .pricing .pricing-main .pricing-single-content .text-area h4 {
          padding-bottom: 15px;
          color: #f59608; }
        .pricing .pricing-main .pricing-single-content .text-area h2 {
          padding-bottom: 20px; }
        .pricing .pricing-main .pricing-single-content .text-area ul {
          padding-left: 0px; }
          .pricing .pricing-main .pricing-single-content .text-area ul li {
            position: relative;
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: 700;
            margin-left: 35px; }
            .pricing .pricing-main .pricing-single-content .text-area ul li:before {
              content: "";
              position: absolute;
              top: 10px;
              left: -35px;
              width: 20px;
              height: 3px;
              background: #f59608; }
      .pricing .pricing-main .pricing-single-content .button-area {
        position: relative;
        z-index: 11;
        padding-top: 35px; }
        .pricing .pricing-main .pricing-single-content .button-area a {
          position: relative;
          padding: 10px 30px;
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          background: transparent;
          border-radius: 3px;
          border: 1px solid #f59608;
          z-index: 11;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          text-decoration: none; }
          .pricing .pricing-main .pricing-single-content .button-area a:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f59608;
            z-index: -1;
            -webkit-transform-origin: right;
            -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
          .pricing .pricing-main .pricing-single-content .button-area a:hover {
            color: #f59608; }
            .pricing .pricing-main .pricing-single-content .button-area a:hover:before {
              -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
              transform: scaleX(0); }

.contact-us-area {
  padding-top: 50px;
  background: #f8f8f8; }
  .contact-us-area .heading-area {
    padding-bottom: 50px; }
    .contact-us-area .heading-area h1 {
      font-weight: 700;
      color: #000000; }
  .contact-us-area .contact-us-main .contact-left {
    padding-top: 50px; }
    .contact-us-area .contact-us-main .contact-left h2 {
      margin-bottom: 30px; }
    .contact-us-area .contact-us-main .contact-left h4 {
      margin-top: 25px;
      margin-bottom: 20px; }
    .contact-us-area .contact-us-main .contact-left p {
      padding-bottom: 5px; }
      .contact-us-area .contact-us-main .contact-left p i {
        font-size: 20px;
        margin-right: 10px; }
    .contact-us-area .contact-us-main .contact-left ul {
      padding-left: 0px; }
      .contact-us-area .contact-us-main .contact-left ul li {
        display: inline-block;
        padding-right: 20px; }
        .contact-us-area .contact-us-main .contact-left ul li a i {
          font-size: 20px;
          color: #f59608; }
  .contact-us-area .contact-us-main form .form-group {
    margin-bottom: 30px; }
  .contact-us-area .contact-us-main form button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #f59608;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 700; }
