//responsive-css

@mixin breakpoint($point) {
   @if $point == notebook {
     @media (max-width: 1024px) { @content ; }
  }
   @else if $point == tablet {
     @media (max-width: 768px) { @content ; }
  } 
  @else if $point == tabletgrid {
     @media (min-width: 768px) { @content ; }
  }
    @else if $point == mobilemax {
     @media (max-width: 525px) { @content ; }
  }
   @else if $point == mobiles {
     @media (max-width: 375px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 320px)  { @content ; }

  }
}


$text_color:#fff;
$pr-color:#000000;
$pr-color2:#f59608;
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

body{
  font-family:  'Poppins', sans-serif;
}
//fonts and other css
h1,h2,h3,h4,h5,h6{
  font-family:  'Poppins', sans-serif;
  margin-top: 0px;
}
p{
  font-family:  'Fira Sans', sans-serif;
}
li{
  list-style: none;
}
a.lb-prev {
  display: block !important;
  opacity: 1;
}
a.lb-next {
  display: block !important;
  opacity: 1;
}
//main-css

header{
  nav{
    height: 60px !important;
    border-radius: 0px;
    padding: 15px 0px;
    .navbar-header{
      a{
        text-decoration: none;
        h3{
          padding-top: 10px;
          font-weight: 700;
          color: black;
        }
      }
    }
    ul{
      li{
        a{
          font-size: 14px;
          color:  $pr-color;
          font-weight: 700;
          &:hover{
            background: none !important;
          }
        }
      }
    }
  }
}

//home-slider

.home-slider{
  .home-slider-wrap{
    position: relative;
    width: 100%;
    height: 600px;
    .home-slider-single-content{
      position: relative;
      width: 100%;
      height: 100%;
      .slider-iner{
        position: relative;
        width: 100%;
        height: 600px;
        position: relative;
        .img-area{
          width: 100%;
          height: 100%;
        }
        .text-area {
          position: absolute;
          bottom: 60px;
          left: 0;
          background: rgba(255, 255, 255, 0.54);
          h3{
            font-weight: 700;
            color: $pr-color;
            padding: 10px 20px;
            margin-bottom: 0px;
          }
        }
      }
    }
    button.slick-prev.slick-arrow {
      display: none !important;
    }
    button.slick-next.slick-arrow {
      display: none !important;
    }
    ul.slick-dots {
      list-style: none;
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      padding-left: 0px;
      @include breakpoint(notebook){
        position: absolute;
        right: -306px;
        top: 27%;
        transform:translateX(-50%) rotate(90deg);
      }
      @include breakpoint(notebook){
        position: absolute;
        right: -450px;
        top: 48%;
        transform:translateX(-50%) rotate(90deg);
      }
      li {
        display: inline-block;
        button{
          position: relative;
          color: transparent;
          background: transparent;
          box-shadow: none;
          border-radius: 50%;
          outline: none;
          width: 24px;
          height: 24px;
          border: none;
          &:before{
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            width: 8px;
            height: 8px;
            background: $text_color;
            border-radius: 50%;
            transition:.3s;
          }
        }
        &.slick-active{
          button{ 
            &:before{
              transform:scale(1.5);
              background: $text_color;
            }
            &:after{
              height: 45px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}




//about-us-area

.about-us-area{
  padding: 150px 0px;
  .about-us-area-main{
    .about-us-right-content{
      padding-left: 60px;
      .heading-area{
        h1{
         font-size: 42px;
         line-height: 60px;
         color: $pr-color;
        }

        ul{
          padding-left: 0px;
          li{
            display: block;
            font-size: 22px;
            margin-bottom: 15px;
            i{
              font-size: 20px;
              color: $pr-color;
              margin-right: 10px;
            }
          }
        }
        p{
          font-size: 16px;
          line-height: 30px;
          color: #616161;
          padding-bottom: 25px;
          text-align: justify;
        }
      }
      .button-area{
        a{
          position: relative;
          padding: 10px 30px;
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          background: transparent;
          border-radius: 3px;
          border: 1px solid #f59608;
          z-index: 11;
          transition:.5s;
          text-decoration: none;
          &:before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f59608;
            z-index: -1;
            transform-origin:right;
            transform:scaleX(1);
            transition:.5s;
          }
          &:hover{
            color: #f59608;
            &:before{
              transform:scaleX(0);
            }
          }
        }
      }
    }
    .about-us-left-content{
      position: relative;
      .img-area{
        img{
          width: 100%;
          height: 460px;
          object-fit:cover;
        }
      }
    }
  }
}

//album-area

.album-area{
  padding: 70px 0px;
  background: #f8f8f8;
  .heading-area{
    padding-bottom: 30px;
    h1{
      font-size: 50px;
      color: $pr-color;
      font-weight: 700;
    }
  }
  .album-main-area{
    .single-album{
      position: relative;
      .hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        background:rgba(0, 0, 0, 0.34);
        text-align: center;
        transition:.4s;
        opacity: 0;
        visibility: none;
        a{
          display: block;
          text-decoration: none;
          color: #fff;
          font-weight: 700;
          margin-top: 60%;
        }
      }
      .img-area{
        a{
          text-decoration: none;
          img{
            width: 100%;
            height: 350px;
          }
        }
      }
      .text-area{
        padding-top: 10px;
        h4{
          color: $pr-color;
        }
        h6{
          color:#616161;
          text-transform: uppercase;
        }
      }
      &:hover{
        .hover{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}



//protfolio\

.protfolio{
  .heading-area{
    padding-bottom: 25px;
    padding-top:50px;
    h1{
      font-size: 50px;
      font-weight: 700;
      color: $pr-color;
    }
  }
  .button-area{
    text-align: center;
    padding-bottom: 20px;
    ul{
      padding-left: 0px;
      li{
        display: inline-block;
        background: #f5f5f5;
        button{
          padding: 8px 20px;
          color: $pr-color;
          font-weight: 600;
          text-decoration: none;
          transition:.4s;
          border:none;
          &:active,&:focus{
            border:none;
            outline: none;
          }
        }
        button.is-checked{
          background: $pr-color2;
          color: #fff;
        }
      }
    }
  }
  .protfolio-main-wrap{
    .protfolio-single-content{
      margin-bottom: 30px;
      img{
        width: 100%;
        height: 350px;
        object-fit:cover;
        border-radius: 3px;
      }
    }
  }
}

.pricing{
  padding: 100px 0px;
  .heading-area{
    h1{
      font-size: 50px;
      color: $pr-color;
      font-weight: 700;
      padding-bottom: 20px;
    }
    p{
      font-size: 18px;
      color: #616161;
    }
  }
  .pricing-main{
    padding-top: 40px;
    .pricing-single-content{
      padding: 30px 35px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
      padding-bottom: 45px;
      border:1px solid rgba(51, 51, 51, 0.08);
      .img-area{
        position: relative;
        z-index: 1;
        img{
          width: 50px;
          position: absolute;
          opacity: 0.5;
          top: -5px;
          right: -10px;
        }
      }
     .text-area{
      position: relative;
      z-index: 11;
        h4{
          padding-bottom: 15px;
          color: #f59608;
        }
        h2{
          padding-bottom: 20px;
        }
        ul{
          padding-left: 0px;
          li{
            position: relative;
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: 700;
            margin-left: 35px;
            &:before{
              content:"";
              position:absolute;
              top: 10px;
              left: -35px;
              width: 20px;
              height: 3px;
              background: #f59608;
            }
          }
       }
     }
     .button-area{
      position: relative;
      z-index: 11;
        padding-top: 35px;
        a{
          position: relative;
          padding: 10px 30px;
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          background: transparent;
          border-radius: 3px;
          border: 1px solid #f59608;
          z-index: 11;
          transition:.5s;
          text-decoration: none;
          &:before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f59608;
            z-index: -1;
            transform-origin:right;
            transform:scaleX(1);
            transition:.5s;
          }
          &:hover{
            color: #f59608;
            &:before{
              transform:scaleX(0);
            }
          }
        }
      }
    }
  } 
}


//contact-us

.contact-us-area{
  padding-top: 50px;
  background: #f8f8f8;
  .heading-area{
    padding-bottom: 50px;
    h1{
      font-weight: 700;
      color: $pr-color;
    }
  }
  .contact-us-main{
    .contact-left{
      padding-top: 50px;
      h2{
        margin-bottom: 30px;
      }
      h4 {
        margin-top: 25px;
        margin-bottom: 20px;
      }
      p{
        padding-bottom: 5px;
        i{
          font-size: 20px;
          margin-right: 10px;
        }
      }
      ul{
        padding-left: 0px;
        li{
          display: inline-block;
          padding-right: 20px;
          a{
            i{
              font-size: 20px;
              color: $pr-color2;
            }
          }
        }
      }
    }
    form{
      .form-group{
        margin-bottom: 30px;
      }
      button{
        width: 100%;
        padding: 10px;
        text-align: center;
        background: $pr-color2;
        border:none;
        border-radius: 3px;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}