@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1800px) { @content ; }
  }
  @if $point == notebook {
     @media (max-width: 1024px) { @content ; }
  }
   @else if $point == tablet {
     @media (max-width: 768px) { @content ; }
  } 
  @else if $point == tabletgrid {
     @media (min-width: 768px) { @content ; }
  }
    @else if $point == mobilemax {
     @media (max-width: 525px) { @content ; }
  }
   @else if $point == mobiles {
     @media (max-width: 375px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 320px)  { @content ; }

  }
}
$pr_color:#c90000;
$pr_color2:#1b3869;
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
p{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a.main-btn{
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding: 12px;
  max-width: 135px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background: #c90000;
  text-decoration: none;
  z-index: 1;
}
button{
  &:active,&:focus{
    outline: none !important;
  }
}
li{
  list-style: none;
}
header{
  .top_nav{
    padding: 0px 0px;
    background: $pr_color;
    ul{
      margin-top: 5px;
      padding: 0;
      margin-bottom: 0px;
      li{
        display: inline-block;
        padding-right: 35px;
        color: #fff;
        i{
          line-height: 30px;
          border: 2px solid #ed5965;
          width: 35px;
          height: 35px;
          color: #fff;
          font-weight: 600;
          text-align: center;
        }
        a{
          color: #fff;
          font-weight: 600;
        }
      }
    }
    marquee{
      width: 100%;
      text-align: center;
      border: 1px solid #ed5965;
      color: $pr_color;
      font-weight: 600;
      padding: 5px 10px;
      margin-top: 5px;
      background: #fff;
    }
    .top_login{
      a{
        display: block;
        background-color: #9c1a24;
        padding: 0 15px;
        padding-top: 12px;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 12px;
        color: #ffffff;
        text-align: center;
        i{

        }
      }
    }
  }
  nav{
    position: relative;
    min-height: 80px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    background: #fff !important;
    padding: 12px 0px;
    .navbar-header{
      a{
        img{
          margin-top: -20px;
        }
      }
    }
    ul{
      li{
        a{
          text-transform: uppercase;
          font-weight: 700;
          color: $pr_color2;
        }
      }
    }
  }
}
.home_main_slider_area{
  .slider_wrap{
    .slider_single_content{
      position: relative;
      height: 500px;
      .slider_text{
        position: relative;
        top: 125px;
        h1{
          line-height: 45px;
          font-weight: 600;
          color: #fff;
          padding-bottom: 20px;
        }
        p{
          line-height: 25px;
          color: #fff;
          padding-bottom: 20px;
          font-size: 16px;
        }
        a{
          position: relative;
          display: inline-block;
          margin-right: 30px;
          padding: 12px 25px;
          text-align: center;
          color: #fff;
          font-weight: 600;
          background: #c90000;
          text-decoration: none;
          text-transform: uppercase;
           &:before{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: $pr_color2;
            z-index: -1;
            transform-origin:left;
            transform:scaleX(0);
            transition:.7s;
            left: 0;
            top: 0;
          }
          &:hover{
            &:before{
              transform:scaleX(1);
            }
          }
        }
        a.btn2{
          background: $pr_color2;
          &:before{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: $pr_color;
            z-index: -1;
            transform-origin:left;
            transform:scaleX(0);
            transition:.7s;
            left: 0;
            top: 0;
          }
          &:hover{
            &:before{
              transform:scaleX(1);
            }
          }
        }
      }
    }
    button.slick-prev.slick-arrow {
      position: absolute;
      top: 50%;
      left: 30px;
      color: transparent;
      width: 45px;
      height: 45px;
      border: none;
      background: $pr_color;
      transform: translateY(-50%);
      border-radius: 50%;
      z-index: 1;
        &:before{
          position: absolute;
          content: "\f104";
          left: 11px;
          top: -15px;
          font-family: 'FontAwesome';
          color: #fff;
          font-size: 50px;
        }
      }
      button.slick-next.slick-arrow {
        position: absolute;
        top: 50%;
        right: 30px;
        color: transparent;
        width: 45px;
        height: 45px;
        border: none;
        background: $pr_color;
        transform: translateY(-50%);
        border-radius: 50%;
        &:before{
          position: absolute;
          content: "\f105";
          right: 11px;
          top: -15px;
          font-family: 'FontAwesome';
          color: #fff;
          font-size: 50px;
        }
      }
     ul.slick-dots {
      list-style: none;
      position: absolute;
      left: 50%;
      bottom: 45px;
      transform: translateX(-50%);
      padding-left: 0px;
      @include breakpoint(notebook){
        position: absolute;
        right: -306px;
        top: 27%;
        transform:translateX(-50%) rotate(90deg);
      }
      @include breakpoint(notebook){
        position: absolute;
        right: -450px;
        top: 48%;
        transform:translateX(-50%) rotate(90deg);
      }
      li {
        display: inline-block;
        button{
          position: relative;
          color: transparent;
          background: transparent;
          box-shadow: none;
          border-radius: 50%;
          outline: none;
          width: 24px;
          height: 24px;
          border: none;
          &:before{
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            width: 8px;
            height: 8px;
            background: #fff;
            border-radius: 50%;
            transition:.3s;
          }
        }
        &.slick-active{
          button{ 
            &:before{
              transform:scale(1.5);
              background: $pr_color;
            }
            &:after{
              height: 45px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

//about
.about{
  padding: 30px 0px;
  .about-single-content{
    position: relative;
    padding: 40px 30px;
    height: 200px;
    transition:.3s;
    background: $pr_color2;
    a{
      text-decoration: none;
      .icon-area{
        width: 23%;
        float: left;
        img{

        }
      }
      .detais{
        width: 65%;
        padding-left: 10px;
        float: left;
        h3{
          font-weight: 600;
          color: #fff;
          padding-bottom: 15px;
        }
        p{
          font-size: 14px;
          line-height: 20px;
          color:#fff;
        }
        i{
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          width: 40px;
          height: 40px;
          font-size: 33px;
          text-align: center;
          background: #fff;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          padding-top: 4px;
          border-radius: 50%;
          padding-left: 5px;
          color: #c8202d;
        }
      }
    }
    &:hover{
      transform:translateY(-5px);
      box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.21);
    }
  }
  .content-2{
    background: $pr_color;
  }
  .about-main-area{
    padding: 70px 0px;
    .about-right-area{
      padding: 20px;
      span{
        display: block;
        padding-bottom: 15px;
        color: #616161;
        font-size: 18px;
      }
      h2{
        padding-bottom: 20px;
        color: $pr_color2;
        font-weight: 600;
      }
      p{
        padding-bottom: 5px;
      }
      a{
        position: relative;
        display: block;
        text-align: center;
        padding: 12px;
        width: 135px;
        background: #c90000;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 1;
        &:before{
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          background: $pr_color2;
          z-index: -1;
          transform-origin:left;
          transform:scaleX(0);
          transition:.7s;
          left: 0;
          top: 0;
        }
        &:hover{
          &:before{
            transform:scaleX(1);
          }
        }
      }
    }
    .about-left-area{
      padding-left: 0px !important;
      img{
        width: 100%;
        height: 330px;
      }
    }
  }
}

//courses
.courses{
  position: relative;
  padding: 30px 0px;
  &:before{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    content: "";
    background: #383838;
    opacity: 0.5;
  }
  .courses_heading{
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
    h1{
      color: #fff;
      font-weight: 600;
    }
    &:before{
      position: absolute;
      content: "";
      width: 70px;
      height: 3px;
      background: $pr_color;
      bottom: 0;
      left: 50%;
      transform:translateX(-50%);
    }
  }
  .courses_type{
    padding-top: 30px;
    .item{
      padding: 15px;
      position: relative;
      a{
        text-decoration: none;
      }
      .image{
        width: 100%;
        height: 150px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .product_describe{
        padding-top: 10px;
        text-align: center;
        background: #fff;
        h3{
          font-size: 18px;
          padding-bottom: 10px;
          color: $pr_color;
          height: 60px;
        }
        p{
          padding: 5px 0px;
          background: #c90000;
          color: #fff;
        }
      }
    }
    button.slick-next.slick-arrow,button.slick-prev.slick-arrow{
      display: none !important;
    }
  }
}

//our-impotance
.our-impotance{
  padding: 70px 0px;
  .our-impotance_heading{
    position: relative;
    text-align: center;
    padding-bottom: 35px;
    h1{
      color: $pr_color2;
      font-weight: 700;
    }
    &:before{
      position: absolute;
      content: "";
      width: 70px;
      height: 3px;
      background: $pr_color;
      bottom: 0;
      left: 50%;
      transform:translateX(-50%);
    }
  }
  .our-impotance_main{
    padding-top: 50px;
    .our-impotance-single-content{
      margin-bottom: 30px;
      .inner{
        padding: 30px 20px;
        border: 1px solid rgba(27, 56, 105, 0.09);
        height: 330px;
        a{
          text-decoration: none;
          img{
            width: 85px;
            padding: 15px;
            background: #1b3869;
            border-radius: 3px;
          }
          h3{
            color: #c90000;
            padding: 20px 0px;
            font-size: 20px;
            font-weight: 700;
          }
        }
        p{
          color: #616161;
          text-align: justify;
        }
        a.read-more {
          display: block;
          width: 100%;
          position: relative;
          color: #1b3869;
          font-weight: 700;
          i{
            position: absolute;
            font-size: 25px;
            top: -1px;
            margin-left: 10px;
            color: #c90000;
          }
        }
      }
    }
  }
}

//promot_area
.promot_area{
  position: relative;
  padding: 50px 0px;
  background-attachment: fixed !important;
   &:before{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    content: "";
    background: #333;
    opacity: 0.5;
  }
  .text-area{
    h3{
      color: #fff;
      font-weight: 600;
      padding-bottom: 20px;
    }
    p{
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0px !important;
      span{
        color: $pr_color;
      }
    }
  }
  .button-area{
    padding-top: 15px;
    a{
      display: block;
      width: 200px;
      background: #ca0505;
      padding: 15px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

//globally_formative
.globally_formative{
  padding: 70px 0px;
  h3 {
    position: relative;
    padding-bottom: 45px;
    font-weight: 600;
    color: $pr_color2;
    &:before{
      position: absolute;
      content: "";
      width: 40px;
      height: 4px;
      left: 0;
      bottom: 20px;
      background: #c90000;
    }
  }
  .testimonials{
    padding: 20px;
    border: 1px solid rgba(27, 56, 105, 0.09);
    button.slick-next.slick-arrow,button.slick-prev.slick-arrow{
      display: none !important;
    }
    .item{
      .testimonial-info{
        width: 25%;
        float: left;
        span{
          color: $pr_color2;
          font-weight: 700;
          font-size: 18px;
          small{
            font-weight: 500;
            font-size: 12px;
          }
        }
        img{
          border-radius: 3px;
          width: 125px;
          height: 125px;
          margin-bottom: 20px;
        }
      }
      .testimonials-item{
        line-height: 25px;
        width: 60%;
        float: left;
        margin-left: 15%;
        text-align: justify;
      }
    }
  }
  .course_list{
    p{
      padding: 20px;
      border: 1px solid rgba(71, 98, 140, 0.11);
      text-align: justify;
    }
  }
  .visa{
    padding: 20px;
    border: 1px solid rgba(71, 98, 140, 0.11);
    padding-bottom: 70px;
    button.slick-next.slick-arrow {
      position: absolute;
      right: 25%;
      bottom: 30px;
      background: #ca0505;
      border: none;
      color: #fff;
    }
    button.slick-prev.slick-arrow {
      position: absolute;
      left: 25%;
      bottom: 30px;
      background: #ca0505;
      border: none;
      color: #fff;
    }
    .item{
      padding: 2px;
      img{
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 5px;
        background: #fff;
        line-height: 24px;
        color: #333;
        border: 1px solid #eee;
      }
    }
  }
}

//footer
footer{
  padding-top: 50px;
  background: #1b3869;
  h4{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    span{
      color: $pr_color;
    }
  }
  p{
    color:#fff;
  }
  ul{
    padding-left: 0 !important;
    list-style: none;
    li{
      padding-bottom: 5px;
      a{
        color: #fff;
        text-decoration: none;
        &:hover{
          text-decoration: none;
          color: $pr_color;
        }
      }
    }
  }
  ul.social-icons {
    li{
      display: inline-block;
      padding-right: 10px;

      a{
        height: 35px;
        width: 35px;
        background: #e1e1e1;
        border-radius: 0%;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        display: block;
        color: $pr-color;
      }
    }
  }
}

//copy
.copy{
  padding: 10px 0px;
  color: #fff;
  background: $pr_color;
}



//about-page
//top-title-area
.top-title-area{
  position: relative;
  padding: 50px 0px;
  background-attachment: fixed!important;
  padding-bottom: 90px;
   &:before{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    content: "";
    background: #1b3869;
    opacity: 0.8;
  }
  .med_tittle_cont_wrapper{
    position: relative;
    h1{
      color: #fff;
      font-weight: 700;
    }
    &:before{
      position: absolute;
      content: "";
      width: 70px;
      height: 3px;
      background: $pr_color;
      bottom: -35px;
      left:0;
    }
  }
}

//about-us-main
.about-us-main{
  padding: 70px 0px;
  .about-item{
    .img-area{
      width: 100%;
      height: 380px;
      img{
      }
    }
    .text-area{
      padding-top: 30px;
      h2{
        position:relative;
        font-weight: 700;
        padding-bottom: 70px;
        color: $pr_color2;
        &:before{
          position: absolute;
          content: "";
          width: 60px;
          height: 4px;
          left: 0;
          bottom: 35px;
          background: $pr_color;
        }
      }
      .description{
        p{
          font-size: 16px;
          text-align: justify;
        }
      }
    }
  }
  .our-goal{
    padding: 70px 0px;
    ul.nav-tabs{
      position: relative;
      max-width: 382px;
      width: 100%;
      margin: 0 auto;
      border-bottom: 0px;
      li{
        float: left;
        margin-bottom: -1px;
        border: 1px solid #c90000;
        height: 45px;
        transition:.5s;
        background: transparent;
        list-style: none;
        &:hover{
          background:$pr_color;
          a{
            background: transparent;
            color: #fff;
            border: none;
          }
        }
        a{
          color: $pr_color;
          border:none;
          background: transparent;
        }
        &:nth-child(2){
          border-right: 0px;
          border-left: 0px;
        }
      }
      li.active{
        background: $pr_color;
        a{
          border:transparent;
          color: #fff;
        }
      }
    }
    .tab-content{
      padding: 50px 0px;
      .tab-pane{
        .about-item{
          .img{

          }
          .text{
            ul{
              padding-left: 0px;
              li{
                list-style:none;
                padding-bottom: 10px;
                &:before{
                  content: "\f0da";
                  margin-right: 5px;
                  font-family: FontAwesome;
                }
              }
            }
            h2{
              font-weight: 600;
              position: relative;
              padding-bottom: 50px;
              &:before{
                position: absolute;
                content: "";
                width: 60px;
                height: 4px;
                left: 0;
                bottom: 25px;
                background: $pr_color;
              }
            }
            p{
              text-align: justify;
            }
          }
        }
      }
    }
  }
}


//support-team
.support-team{
  padding: 60px 0px;
  background: #f6f6f6;
  .support-team-main{
    .heading-area{
      text-align: center;
      span{
        font-size: 18px;
        color: #616161;
        padding-bottom: 10px;
      }
      h2{
        position: relative;
        font-weight: 600;
        padding-bottom: 50px;
        color: $pr_color2;
        &:before{
          position: absolute;
          content: "";
          width: 60px;
          height: 4px;
          left: 50%;
          transform:translateX(-50%);
          bottom: 25px;
          background: $pr_color;
        }
      }
    }
    ul{
      padding-left: 0px !important;
      padding-top: 20px;
      li{
        .list-box{
          text-align: center;
          padding: 8px;
          margin-bottom: 30px;
          background: #fff;
          img{

          }
          h3{
            font-size: 14px;
            padding-top: 15px;
            padding-bottom: 5px;
            font-weight: 700;
            color: $pr_color2;
          } 
          span{
            font-size: 12px;
            color: $pr_color;
          }
        }
      }
    }
  }
}

//country-flag
.country-flag{
  padding: 60px 0px;
  .heading-area{
    text-align: center;
    h2{
      position: relative;
      font-weight: 700;
      color: $pr_color2;
      padding-bottom: 50px;
      &:before{
        position: absolute;
        content: "";
        width: 60px;
        height: 4px;
        left: 50%;
        transform:translateX(-50%);
        bottom: 25px;
        background: $pr_color;
      }
    }
  }
  .country-flag-area-main{
    .flag{
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #eee;
      padding: 5px;
      background: #eee;
      text-align: center;
      img{
        max-width: 100%;
      }
    }
  }
}